body{
	font-family: 'Girassol', cursive;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background: url(../img/bg.png);
    background-size: cover;
    display: block;
    background-repeat: no-repeat;
    padding-top: 43px;
    height: 600px;
}
.logo {
    margin: -15px 0px;
}
.nav1 ul {
    background: transparent;
    padding-top: 34px;
}
.nav1 ul li {
    background: transparent;
    color: #ffffff;
}
.nav1 ul li a {
    color: #f7fdff;
    text-decoration: none;
    background-color: transparent;
}
.col-md-5.offset-md-1.hhh {
    padding-left: 107px;
    padding-top: 89px;
}

h1 {
    background: #00000080;
    color: white;
    padding: 8px 21px;
}
p.pppp {
    color: #ffffffcc;
}
.niloy{
	border-bottom: 1px solid white;
    display: block;
    padding: 22px 0px;
    width: 3%;
}
.btn{
	background-color: transparent;
    padding: 12px 80px;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    border-radius: unset;
}
.btn:hover{
	background: white;
}
.section-one{
	padding-top: 169px;
    background: #F5F5F5;
}

.ahmed{
    border-bottom: 1px solid black;
    display: block;
    padding: 3px 7px;
    width: 3%;
    margin: 27px 0px;
}
.title-one p{
	font-size: 13px;
}
.parent{
	position: relative;
    top: 0;
    right: 0;
    width: 100%
}
img.img-fluid.child {
    max-width: 113%;
    position: absolute;
    top: -12%;
    left: 0;
    height: auto;
}
img.img-fluid.child.two {
    position: absolute;
    width: 51%;
    top: 2%;
    left: 44%;
}
section.section-two {
    padding: 60px;
    background: #28282E;
    color: white;
}
.rafi{
    border-bottom: 1px solid white;
    display:block;
    padding: 3px 7px;
    width: 3%;
    margin: 27px 0px;
}
p {
    font-size: 14px;
}
button.bt {
    padding: 6px 18px;
    background: transparent;
    color: white;
    font-size: 14px;
    border: 1px solid white;
    margin-top: 30px;
}
button.bt:hover{
	background: white;
	color: black;
}
img.img-fluid.car{
    position: absolute;
    width: 114%;
    top: 100px;
    left: 39px;
}
.footer-area{
	padding: 20px 0px;
	background:#EF4035;
	color: white;
}
/*-- about.html --*/
.about{

	border-bottom: 6px solid #8080805e;
    padding-top: 23px;
}
.img{

}
.nav ul{
    background: transparent;
}
.nav ul li{
	background: transparent;
    color: #76A2B3;
    padding-top: 34px;
}
.nav ul li a{
	color: #096382;
    text-decoration: none;
    background-color: transparent;
}
section.about-section {
    padding: 60px 0px;
}
h2.display-5 {
    padding: 20px;
  	font-size: 39px;
}
section.about-section {
	padding-top: 50px;
    text-align: justify;
}
.ahmedniloy{
    padding-bottom: 54px;
    padding-top: 57px;
}
p.niloyahmed {
    margin-right: -27px;
    margin-left: 47px;
}
img.img-fluid.icone-two {
    position: absolute;
    top: 28px;
    left: 4px;
    width: 48%;
}
img.img-fluid.cars-one {
    position: absolute;
    width: 54%;
    top: 66px;
    left: 169px;
}
/*--------contact---------*/
section.Contact {
    border-bottom: 7px solid #8080807a;
}
}
img.img-fluid.logo1 {
    max-width: 269px;
}
.nav2 ul {
    background: transparent;
    padding-top: 34px;
}
.nav2 ul li{
	background: transparent;
    color: #76A2B3;
}
li.nav-item.my-2 {
    padding-right: 27px;
}
.nav2 ul li a{
	color: #096382;
    text-decoration: none;
    background-color: transparent;
}
.contact-two {
    background: #ED493E;
}
.h3 {
    padding-left: 65px;
    padding-top: 26px;
    color: white;
    font-size: 40px;
}
.img {
    padding-bottom: 25px;
    padding-top: 31px;
}
.pp {
    padding-left: 65px;
    padding-top: 25px;
    text-align: justify;
    color: white;
}
.col-md-4.two {
    position: absolute;
    top: 0;
    right: -272px;
}
img.img-fluid.one {
    padding-left: 65px;
}
img.img-fluid.two {
    position: absolute;
    top: 70px;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    color: white;
}
input.form-control.nill {
    width: 138%;
    background: #FF6258;
    border: none;
    padding: 24px 0px;
    border-radius: 0;
}
button.btnn.btnn-danger.butt {
    font-family: 'Dancing Script', cursive;
    padding: 10px 81px;
    font-size: 32px;
    padding-top: 11px;
    margin: 60px;
    border: none;
    background: #ED493E;
    color:white;
}
button.btnn.btnn-danger.butt:hover{
	background: #cc2f258c

}
